Source: quiet-shutdown
Section: misc
Priority: optional
Maintainer: Faris Redza <faris.redza1999@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/FarisRedza/quiet-shutdown
Vcs-Browser: https://github.com/FarisRedza/quiet-shutdown
Vcs-Git: https://github.com/FarisRedza/quiet-shutdown.git
Rules-Requires-Root: no

Package: quiet-shutdown
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Changes kernel.printk parameters to suppress kernel messages on shutdown
